<<<<<<<< HEAD:Views/Quanlydiem/Index.cshtml
@model IEnumerable<QUANLYSINHVIEN.Models.Quanlydiem>
========
@model IEnumerable<QUANLYSINHVIEN.Models.Diem>
>>>>>>>> 4e57f067c96a626f17d3eca6abcb79749109e5f3:Views/Diem/Index.cshtml

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Điểm</h1>

<p>
    <a asp-action="Create">Thêm điểm</a>
</p>
<p>
<<<<<<<< HEAD:Views/Quanlydiem/Index.cshtml
    <a asp-action="Upload">Upload New</a>
========
    <a asp-action="Upload">Upload Điểm</a>
>>>>>>>> 4e57f067c96a626f17d3eca6abcb79749109e5f3:Views/Diem/Index.cshtml
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sothutu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemMH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
<<<<<<<< HEAD:Views/Quanlydiem/Index.cshtml
             <td>
                @Html.DisplayFor(modelItem => item.Sothutu)
            </td>
========
>>>>>>>> 4e57f067c96a626f17d3eca6abcb79749109e5f3:Views/Diem/Index.cshtml
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemMH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sothutu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sothutu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sothutu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
